
.bodyAll {
    padding-right: 250px;
    padding-left: 250px;
    background-color: rgb(185, 210, 235);
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.hover-effect span:hover {
    color: #094aff;
    transition: all 0.5s ease;
  }

h1:hover {
    color: #83a4ff;
    transition: all 0.5s ease;
}

.headContainer {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(185, 210, 235);
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    background-color: black;
    height: 2px;
    width: 100%;
}

header {
    background-color: rgb(185, 210, 235);
    color: #000000;
    align-items:center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 70px;
    padding-top: 20px;
}

.mainContainer {
    background-color: rgb(185, 210, 235);
    height: 100%;
    width: 100%;
}

.linkBoxA {
    background-color: rgb(202, 202, 202);
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.linkBox {
    background-color: rgb(202, 202, 202);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkBox1 {
    display: flex;
}

.linkBox2 {
    display: flex;
}

.headshotBox {
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 210, 235);
    width: 100%;
    display: flex;
}

.autoText2 {
    padding: 100px;
    background-color: rgb(185, 210, 235);
    height: 60%;
    width: 500px;
    outline-style:solid;
    outline-width: 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.headshotImage {
    background-color: rgb(202, 202, 202);
    height: 500px;
    width: 700px;
    outline-style:solid;
    outline-width: 1px;
    border-radius: 3px;
}

.containerWide {
    background-color: rgb(164, 27, 27);
}

.containerSmall {
    background-color: aqua;
    background-size: 20px;
    width: 50px;
}

main {
    background-color: #57b169;
}

.footer {
    background-color: #333;
    color: #835050;
    text-align: center;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    background-color: rgb(233, 233, 233);
    width: 140px;
    height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #3a5bff; 
  }

  .btn1 {
    color: rgb(208, 25, 25);
  }

  .body1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
  }
  
  .container {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
  }
  
  /* Blinking cursor animation */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink 1s step-end infinite;
  }

  .bandOne {
    padding: none;
    background-color: black;
    height: 400px;
  }

  .projectsContainer {
    background-color: whitesmoke;
    height: 200px;
    width: 200px;
  }

  .projectsListed {
    background-color: aliceblue;
    height: 200px;
    width: 200px;
  }