* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: rgb(233, 233, 233);
}

header {
    background-color: rgb(50, 193, 71);
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.linkBoxA {
    background-color: rgb(233, 233, 233);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.linkBox {
    background-color: rgb(77, 73, 73);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.linkBox1 {
    display: flex;
}

.linkBox2 {
    display: flex;
}

.headshotBox {
    background-color: rgb(233, 233, 233);
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.headshotImage {
    background-color: rgb(233, 233, 233);
    height: 100%;
    width: 275px;
    border-radius: 20%;
}

.containerWide {
    background-color: rgb(233, 233, 233);
}

.containerSmall {
    background-color: aqua;
    background-size: 20px;
    width: 50px;
}

main {
    background-color: #bea3a3;
}

.hero {
    background-image: url('https://via.placeholder.com/1200x400');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 300px;
    margin: 0 auto;

}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.footer {
    background-color: #333;
    color: #835050;
    text-align: center;
}

.btn {
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    background-color: rgb(233, 233, 233);
    width: 140px;
    height: 30px;
    outline-style:solid;
    outline-width: 1px;
    text-align: center;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #28911b; 
  }

  .btn1 {
    color: rgb(233, 233, 233);
  }